.navbarWrapper{
   width: 100%;
   max-width: 90%;
   /* margin: 10px auto; */
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
   /* border: 1px solid red; */
   display: flex;
   align-items: center;
   height: 87px;
   justify-content: space-around;
   position: absolute;
   background-color: rgba(255, 254, 254, 0.31);
}

.logo{
   font-size: 1.5rem;
   color: var(--secondary-color);
   font-weight: 600;
}

.button {
   display: none;
}

.links{
   display: none;
}

.links a{
   color: var(--first-color);
   font-weight: 300;
}


@media only screen and (min-width: 670px) {
   .button {
      background-color: var(--secondary-color);
      font-weight: light;
      height: 60px;
      line-height: 60px;
      text-align: center;
      width: 100%;
      max-width: 164px;
      font-size: var(--button-font);
      border-radius: var(--button-border);
      color: var(--first-color);
      display: block;
      transition: .3s ease all;
   }
   .button:hover{
      background-color: #D76E6E;
   }

   .links{
      display: flex;
      /* border: 1px solid red; */
      
      font-weight: 300;
      max-width: 460px;
      justify-content: space-between;
      width: 100%;
   }

   .hamburger{
      display: none;
   }
}