@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');


:root {
   --first-color : #FFF;
   --secondary-color: #EF7878;
   --third-color: black;
   --button-font: 19px;
   --button-border: 5px;
 }


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
   width: 100%;
   max-width: 90%;
   margin: 0 auto;
   /* border: 1px solid red; */
}

